header{
    top: 0;
    color: aqua;
    background-color: transparent;
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    /*background-image: url(img/background.jpg);*/
    background-blend-mode: darken;
    
}

footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: transparent;
    color: rgb(61, 3, 3);
    height: 40px;
    vertical-align: middle;
    
}